<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new task</title>
</head>
<body>
    <h1>Edit task</h1>
    {% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <h2>que es lo que haras hoy?</h2>
        <br>
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    {% endblock content %}
    <a href="list/list/list">cancelar</a>
</body>
</html>