body{
    background-color: rgb(189, 184, 184);
    margin: 0;
}

table{
    width: 50%;
    margin: 0 5%;
}




tbody td {
    background-color: rgba(255,255,255,0);
    transition: all 0.2s linear;
    transition-delay:0.3, 0s;
    opacity: 0.6;
}

tbody tr:hover td {
    background-color: rgba(255,255,255,1);
    transition-delay: 0s, 0s;
    opacity: 1;
    font-size: 2em;
    border-radius: 5px;
}

td {
    transform-origin:center right;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    border: none;
    padding: 16px 20px;
    border-radius: 5px;
}

.addTask_button{
    color: white;
    background-color: grey;
    border: none;
    padding: 16px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.addTask_button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}

.button_uptdate{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.button_uptdate:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.button_delete{
    background-color: red;
    color: white;
    text-align: right;
    cursor: pointer;
}

.button_delete:hover{
    background: white;
    color: white;
    border: 1px solid black
}

/* ------------------------------------------------- */

/* ------------------FORM STYLES */

form{
    text-align: center;
}
.form{
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
}